meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="/css/app.css")

script(src='https://use.fontawesome.com/1c971e3cf7.js')
title ..:: #{nombrePagina} - UpTask - Administrador de Proyectos ::..